.App {
  text-align: center;
  padding: 5vh 0 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    max-width: 100px;
    margin: 10px 0 0;
  }
  .site-title {
    color: rgba($color: #444444, $alpha: 1.0);
    margin: 20px 0 0;
  }
  .site-subtitle {
    color: rgba($color: #666666, $alpha: 1.0);
    margin: 5px 0 20px;
  }
  .NavBar-small {
    display: flex;
    flex-direction: column;
    width: 90%;
    background: rgba(58, 58, 58, 1);
    .NavBar-small-burger-ctnr {
      padding: 15px;
      display: flex;
      align-items: center;
      color: white;
      width: 100%;
      cursor: pointer;
      transition: background 0.3s ease;
      &:hover {
        background: rgba($color: #0FBE7C, $alpha: 1.0);
      }
      .burger-icon {
        margin: 0 15px 0 0;
        width: 15px;
        height: 15px;
        display: flex;
        flex-direction: column;
        .burger-stripe {
          height: 3px;
          background: white;
          margin: 1px 0;
        }
      }
    }
    .NavLinkCtnr {
      width: 100%;
      display: flex;
      flex-direction: column;
      &.hidden {
        display: none;
      }
      .NavLink {
        line-height: 3rem;
        cursor: pointer;
        transition: background 0.3s ease;
        &:hover {
          background: rgba($color: #0FBE7C, $alpha: 1.0);
        }
        width: 100%;
        text-align: left;
        padding: 0 0 0 45px;
        color: white;
        text-decoration: none;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    .section-title {
      margin: 1.25rem 0;
      text-align: left;
      color: rgba($color: #222222, $alpha: 1.0);
    }
  }
  .main-text {
    text-align: left;
    margin: 0.5rem 0;
  }
  .footer {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .footer-title {
      text-align: left;
      margin: 2rem 0 1rem;
      line-height: 2rem;
      font-weight: 400;
      color: rgba($color: #222222, $alpha: 1.0);
      border-bottom: 2px solid rgba($color: #0FBE7C, $alpha: 1.0);
    }
  }
  .main-link {
    color: rgba($color: #0FBE7C, $alpha: 1.0);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline: thin dotted;
    }
  }
}
