.App {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(58, 58, 58, 1);
  .videoHomePage {
    max-height: 364px;
  }
  .content {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    .section-title {
      margin: 1.75rem 0 0;
      text-align: left;
      color: white;
    }
  }
  .main-text {
    text-align: left;
    margin: 0.5rem 0;
  }
  .main-subtitle {
    text-align: left;
    font-weight: bold;
    margin: 0.75rem 0 0;
  }
  .footer {
    display: flex;
    flex-direction: column;
    width: 90%;
    section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .footer-title {
      text-align: left;
      margin: 2rem 0 1rem;
      line-height: 2rem;
      font-weight: 400;
      color: white;
      border-bottom: 2px solid rgba($color: #0FBE7C, $alpha: 1.0);
    }
  }
  .main-link {
    color: rgba($color: #0FBE7C, $alpha: 1.0);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline: thin dotted;
    }
  }
}
