// http://meyerweb.com/eric/tools/css/reset/ 
// v2.0 | 20110126
// License: none (public domain)

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// make sure to set some focus styles for accessibility
:focus {
  outline: 0;
}

ol, ul {
	list-style: none;
}

body {
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(255, 255, 255, 0.712);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
